In [1]:
import pandas as pd

In [2]:
names = ['Ram','Shyam','Manan','Aman','Jyoti','Pooja']
s1 = pd.Series(names)

In [3]:
s1

0      Ram
1    Shyam
2    Manan
3     Aman
4    Jyoti
5    Pooja
dtype: object

In [4]:
names = ['Ram','Shyam','Manan','Aman','Jyoti','Pooja']
s1 = pd.Series(names, index=['a','b','c','d','e','f'])

In [5]:
s1

a      Ram
b    Shyam
c    Manan
d     Aman
e    Jyoti
f    Pooja
dtype: object

In [6]:
s1[0]

'Ram'

In [7]:
s1[0:4]

a      Ram
b    Shyam
c    Manan
d     Aman
dtype: object

In [8]:
s1.head(3)

a      Ram
b    Shyam
c    Manan
dtype: object

In [9]:
s1.tail(3)

d     Aman
e    Jyoti
f    Pooja
dtype: object

In [10]:
s1.min()

'Aman'

In [31]:
import numpy as np

data = {
    "names" : ["Ram","Shyam","Mohit","Amit","Gopal","Jyoti","Pooja","Sameer","Naman","Virat"],
    "dept" : ["IT","IT","Sales","Admin","Sales",np.nan,"IT","IT","Admin","IT"],
    "salary" : [45000,56000,35000,25000,np.nan,68000,100000,60000,55000,50000]
}

In [32]:
pd.Series(data)

names     [Ram, Shyam, Mohit, Amit, Gopal, Jyoti, Pooja,...
dept      [IT, IT, Sales, Admin, Sales, nan, IT, IT, Adm...
salary    [45000, 56000, 35000, 25000, nan, 68000, 10000...
dtype: object

In [43]:
df = pd.DataFrame(data, index=['a','b','c','d','e','f','g','h','i','j'])

In [44]:
df.shape

(10, 3)

In [45]:
df.head()

   names   dept   salary
a    Ram     IT  45000.0
b  Shyam     IT  56000.0
c  Mohit  Sales  35000.0
d   Amit  Admin  25000.0
e  Gopal  Sales      NaN

In [46]:
df.columns

Index(['names', 'dept', 'salary'], dtype='object')

In [47]:
df['names'].head()

a      Ram
b    Shyam
c    Mohit
d     Amit
e    Gopal
Name: names, dtype: object

In [52]:
df.loc['a']

names       Ram
dept         IT
salary    45000
Name: a, dtype: object

In [50]:
# df.loc[0]
df.iloc[0]

names       Ram
dept         IT
salary    45000
Name: a, dtype: object

In [51]:
# df.loc[3]
df.iloc[3]

names      Amit
dept      Admin
salary    25000
Name: d, dtype: object

In [53]:
df.iloc[0:3]

   names   dept   salary
a    Ram     IT  45000.0
b  Shyam     IT  56000.0
c  Mohit  Sales  35000.0

In [56]:
df[['names', 'salary']].head()

   names   salary
a    Ram  45000.0
b  Shyam  56000.0
c  Mohit  35000.0
d   Amit  25000.0
e  Gopal      NaN

In [57]:
# how to filter data frames
df['dept'] == 'IT'

a     True
b     True
c    False
d    False
e    False
f    False
g     True
h     True
i    False
j     True
Name: dept, dtype: bool

In [58]:
df[df['dept'] == 'IT']

    names dept    salary
a     Ram   IT   45000.0
b   Shyam   IT   56000.0
g   Pooja   IT  100000.0
h  Sameer   IT   60000.0
j   Virat   IT   50000.0

In [59]:
df[df['salary'] < 50000]

   names   dept   salary
a    Ram     IT  45000.0
c  Mohit  Sales  35000.0
d   Amit  Admin  25000.0

In [60]:
df[(df['dept'] == 'IT') & (df['salary'] > 55000)]

    names dept    salary
b   Shyam   IT   56000.0
g   Pooja   IT  100000.0
h  Sameer   IT   60000.0

In [62]:
df.isna().sum()

names     0
dept      1
salary    1
dtype: int64

In [63]:
# df.fillna()
# df.dropna()

In [65]:
df['salary'] = df['salary'].fillna(df['salary'].mean())

In [70]:
df.sort_values('salary', ascending=False).reset_index(drop=True)

    names   dept         salary
0   Pooja     IT  100000.000000
1   Jyoti    NaN   68000.000000
2  Sameer     IT   60000.000000
3   Shyam     IT   56000.000000
4   Naman  Admin   55000.000000
5   Gopal  Sales   54888.888889
6   Virat     IT   50000.000000
7     Ram     IT   45000.000000
8   Mohit  Sales   35000.000000
9    Amit  Admin   25000.000000