In [1]:
import urllib.request as url
import json

In [6]:
path = "https://api.openweathermap.org/data/2.5/weather?q=chennai&appid=83e01e3dce5d28839bb5a177cb51af12"
response = url.urlopen(path)

In [7]:
data = json.load(response)

In [8]:
data['main']

{'feels_like': 304.92,
 'humidity': 78,
 'pressure': 1011,
 'temp': 301.14,
 'temp_max': 301.14,
 'temp_min': 301.14}

In [9]:
data['main']['temp'] - 273.15

27.99000000000001

In [11]:
states = ['delhi','chennai','punjab','pune','noida','mumbai','lucknow','indore','goa']

temp_data = []

for state in states:
  path = f"https://api.openweathermap.org/data/2.5/weather?q={state}&appid=83e01e3dce5d28839bb5a177cb51af12"
  response = url.urlopen(path)
  data = json.load(response)
  data['main']['temp'] = data['main']['temp'] - 273.15
  temp_data.append([data['name'], data['main']['temp']])

In [12]:
temp_data

[['Delhi', 11.050000000000011],
 ['Chennai', 27.99000000000001],
 ['Punjab', 14.879999999999995],
 ['Pune', 23.170000000000016],
 ['Noida', 11.160000000000025],
 ['Mumbai', 26.99000000000001],
 ['Lucknow', 12.990000000000009],
 ['Indore', 20.100000000000023],
 ['Goa', 26.210000000000036]]

In [13]:
import pandas as pd

In [14]:
pd.DataFrame(temp_data)

         0      1
0    Delhi  11.05
1  Chennai  27.99
2   Punjab  14.88
3     Pune  23.17
4    Noida  11.16
5   Mumbai  26.99
6  Lucknow  12.99
7   Indore  20.10
8      Goa  26.21