In [ ]:
import urllib.request as url
import bs4

In [ ]:
data = {"titles" : [], "price" : []}

for i in range(1,5):
  print("****** Page :: {} ******".format(i))
  path = "https://www.flipkart.com/search?q=iphone+12&page={}".format(i)
  response = url.urlopen(path)
  page = bs4.BeautifulSoup(response)
  titleList = page.find_all('div', {"class" : "_4rR01T"})
  priceList = page.find_all('div', {'class' : "_30jeq3 _1_WHN1"})

  for j in range(len(titleList)):
    # print(titleList[j].text)
    # print("Price ::", priceList[j].text)
    data["titles"].append(titleList[j].text)
    data["price"].append(priceList[j].text)

****** Page :: 1 ******
****** Page :: 2 ******
****** Page :: 3 ******
****** Page :: 4 ******

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame(data)

In [ ]:
df.head()

                           titles    price
0  APPLE iPhone 12 (Black, 64 GB)  ₹60,499
1  APPLE iPhone 12 (Blue, 128 GB)  ₹64,999
2  APPLE iPhone 12 (White, 64 GB)  ₹59,999
3   APPLE iPhone 12 (Red, 128 GB)  ₹64,999
4   APPLE iPhone 12 (Blue, 64 GB)  ₹60,499

In [ ]:
df.tail()

                                                titles   price
139         Enflamo Back Cover for Apple iPhone 13 Pro    ₹259
140  KARTRAY Edge To Edge Screen Guard for Apple iP...    ₹161
141  Temperia Edge To Edge Tempered Glass for Apple...    ₹149
142      Ringke Back Cover for Apple iPhone 13 Pro Max  ₹1,299
143  XYNITY Edge To Edge Tempered Glass for Apple i...    ₹275